<h1>☆RamenJapanの使い方☆</h1>
<h3>① RamenJapanはラーメン用のレビュー投稿サイトです！</h3>
<h3>② RamenJapanは、ユーザー登録をされていない方は利用できません！</h3>
<h3>③ レビュー投稿から食べたラーメンのレビューを投稿してみましょう！</h3>
<h3>④ レビュー一覧から他のユーザーのレビューも見れます！</h3>
<h3>⑤ レビュー検索で住所を入力すると、その住所が含まれたレビューを表示できます!</h3>
<h3>⑥ おすすめランキングはいいねの数が多いレビューが表示されています！</h3>