<div class="row">
	<div class="">
		<h2>ラーメンレビュー一覧</h2>
		<table class="table table-hover table-inverse">
			<thead>
				<tr>
					<th></th>
					<th></th>
					<th></th>
					<th></th>
				</tr>
			</thead>

			<tbody>
				<tr>
					<td><% @ramen_noodles.each do |ramen_noodle| %></td>
					<td><%= link_to ramen_noodle.title %></td>
					<td><%= ramen_noodle.name %></td>
				</tr>
				<% end %>
			</tbody>
		</table>
	</div>
</div>